
.FrontPage {
  background-color: #3d3d3d;
  min-width: 100vh;
  min-height: 100vh;
}

.Navbar{
  height: 50px;
  width: 100%;
  top: 0px;
  text-align: center;
  display: inline-block;
}

.Navbar button{
  background-color: #7caf2a;
  width: 25%;
  cursor: pointer; /* Pointer/hand icon */
  height: auto;
  display: inline;
}

.Player {
  background-color: #446068;
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 75px;
  position: fixed;
  bottom: 0px;
}

.Player button{
  background-color: #7caf2a;
  display: block; /* Make the buttons appear below each other */
  margin: auto;
  margin-top: 5px;
  cursor: pointer; /* Pointer/hand icon */
  height: auto;
}

.SearchBar {
  margin: auto;
  text-align: center;
}

.SearchBar input{
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: large;
}

.ButtonGroup {
  width: 100%;
}

.ButtonGroup button {
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: rgb(15, 14, 14); /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.QueueList {
  text-align: center;
}

.QueueList ul{
  background-color: azure;
  text-align: center;

}

.QueueList li {
  color: rgb(15, 14, 14);
  padding: 10px 0px; /* Some padding */
  display: block; /* Make the buttons appear below each other */
}
