
.FrontPage {
  background-color: #3d3d3d;
  min-height: 100vh;
  margin-bottom: 75px;
}

.Navbar{
  width: 100%;
  height: 50px;
  text-align: center;
}

.Navbar button{
  background-color: #7caf2a;
  width: 50%;
  height: 100%;
  cursor: pointer; /* Pointer/hand icon */
}

.Playerbar {
  background-color: #446068;
  margin: auto;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 75px;
  display: inline-block;
}

.Player {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: auto;
}

.Player button{
  background-color: #7caf2a;
  display: block; /* Make the buttons appear below each other */
  margin: auto;
  margin-top: 5px;
  cursor: pointer; /* Pointer/hand icon */
  height: auto;
}

.Devices {
  float: left;
  width: 20%;
  height: 100%;
}

.Devices button{
  height: 100%;
  width: 100%;

}

.SearchBar {
  margin: auto;
  overflow-y : scroll;
  text-align: center;
  width: 100%;
}

.SearchBar input{
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: large;
}

.ButtonGroup {
  width: 100%;
  align-items: center;
}

.ButtonGroup button {
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: rgb(15, 14, 14); /* White text */
  height: 100px;
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
}

.ButtonGroup button img {
  padding: 0px 50px;
}

.QueueList {
  width: 100%;
  overflow-y : scroll;
  text-align: center;
  margin: auto;
}

.QueueList ul{
  padding: 0;
  list-style: none;
  background-color: azure;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.QueueList li {
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: rgb(15, 14, 14);
  padding: 10px 0px; /* Some padding */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.QueueList li img {
  padding: 0px 50px;
}
