
.FrontPage {
  background-color: #303030;
  width: 100%;
  margin: auto;
}

.Player {
  background-color: #446068;
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 50px;
  position: fixed;
  bottom: 0px;
}

.Player button{
  background-color: #7caf2a;
  display: block; /* Make the buttons appear below each other */
  margin: auto;
  cursor: pointer; /* Pointer/hand icon */
  height: auto;
}

.SearchBar {
  width: 75%;
  margin: auto;
  text-align: center;
  height: 25px;
}

.SearchBar input{
  width: 100%;
  margin: auto;
  height: 20px;
  text-align: center;
}

.ButtonGroup {
  background-color: #7caf2a;
  width: 100%;
}

.ButtonGroup button {
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: rgb(15, 14, 14); /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}
